*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Rubik", sans-serif;
}
body {
  max-height: 100vh;
}

h1 {
  color: white;
  font-weight: 500;
  margin: 2rem 0;
}

h2 {
  font-size: 0.7rem;
  color: hsl(0, 0%, 59%);
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
  color: hsl(0, 0%, 17%);
  font-weight: 500;
  font-size: 1.7rem;
  padding: 1rem 0;
}

header {
  height: 18rem;
  background: url("./images/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.input-container {
  background-color: white;
  width: 35rem;
  height: 3.4rem;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

input {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 1.1rem;
  padding-left: 1.4rem;
  width: 89%;
}

button {
  width: 11%;
  height: 100%;
  outline: none;
  border: none;
  background-color: black;
  cursor: pointer;
}

button:hover {
  background-color: rgb(58, 58, 58);
}

button:active img {
  transform: scale(1.5);
}

.info-container {
  z-index: 10;
  background: white;
  position: absolute;
  bottom: -4.5rem;
  display: flex;
  width: 60rem;
  height: 9rem;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.error-container {
  display: none;
}

.active-error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.info-container__box {
  position: relative;
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
}

.border-right::after {
  content: "";
  position: absolute;
  right: 0;
  height: 4rem;
  width: 1px;
  background: lightgray;
}

#map-container {
  min-height: calc(100vh - 18rem);
  z-index: 0;
  display: none;
}

.loader-container {
  min-height: calc(100vh - 18rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #4f5bbd; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1150px) {
  html {
    font-size: 80%;
  }

  p {
    font-size: 1.2rem;
    padding: 0.3rem;
  }
  .input-container {
    width: 80%;
  }

  .info-container {
    bottom: -7.5rem;
    height: 15rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;

    padding: 1rem 0;
  }

  .info-container__box {
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
  }

  .border-right::after {
    height: 0;
    width: 0;
  }
}
